.bg-gray{
    background: rgb(190, 187, 187);
}

.bg-gray-light{
    background: rgb(224, 224, 224);
}
.dash-item {
    position: relative;
    padding: 40px 10px;
}

.dash-item .badge{
    position: absolute;
    top:10px;
    right: 15px;
    
}

.dash-item a:hover, .dash-item a:active{
   text-decoration: none;
}

.dashboard{
    display: flex;
    align-items: center;
    justify-content: center;    
    margin: 0 auto;
}

.cart{
    position: relative;
}

.cart .badge{
    position: absolute;
    top:-10px;
    right: -10px;
    font-size: 14px;
}

.putaway-lot{
    position: relative;
}

.view{
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
    /* z-index: 1000; */
}

.pointer{
    cursor: pointer;
}

.opacity{
    opacity: 0.9;

}

/* customise swal alert */
.swal2-modal .swal2-show, .swal-conatiner{
    width: 100%;
}

#toast-container.toast-bottom-center .toast, #toast-container.toast-top-center .toast {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
     background-color: #fff; 
     border: none; 
}
.card {
    border-left: none;
    border-right: none;
}

.green-light{
    background: #BBDED6
}