<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary m-auto">
    <div class="col-12">
        <div class="row  text-light text-center py-2">
          <div class="col-2 float-left pr-0 mr-0 pt-1">
            <i class="fa fa-2x  fa-arrow-circle-left pointer"  ui-sref="index.dashboard"></i>
          </div>
          <div class="col-8 mx-auto font-weight-bolder">
            <a class="navbar-brand font-weight-bolder m-auto text-light">Put Away</a>
          </div>
          <div class="col-2 float-right">
            
          </div>
        </div>
      </div>
</div>

<div class="container-fluid">
  <div class="page-header" id="banner">
    <div class="row">
      <span class=" badge bg-gray-light m-0 mb-2 ml-3 text-secondary">
        &nbsp;&nbsp; total documents : 2
      </span>
      <ul class="list-group w-100">
        <li class="list-group-item d-flex justify-content-between align-items-center py-3 font-weight-bolder">
          (1) &nbsp; CHE-0001-SPA
          <button class="btn btn-primary btn-sm  px-4 font-weight-bolder rounded-pill opacity" ui-sref="main.putaway-new" type="button">Start</button>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center py-3 font-weight-bolder">
          (2) &nbsp; CHE-0002-SPA
          <button class="btn btn-primary btn-sm  px-4 font-weight-bolder rounded-pill opacity" ui-sref="main.putaway-new" type="button">Start</button>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>