<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary m-auto">
  <div class="col-12">
    <div class="row  text-light text-center py-3">
      <div class="col-2 float-left pr-0 mr-0">
        <i class="fa fa-2x  fa-arrow-circle-left" ui-sref="index.dashboard"></i>
      </div>
      <div class="col-8 mx-auto font-weight-bolder">
        CHE-0001-SRD
      </div>
      <div class="col-2 float-right">

      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-sm-12">
        <form class="text-left">
          <fieldset>
            <div class="form-group">
              <label class="font-weight-bolder" for="lotNo">Location</label>
              <input class="form-control rounded-pill bg-light" id="lotNo" aria-describedby="locationHelp" type="text"
                placeholder="location">
            </div>
            <div class="form-group">
              <label class="font-weight-bolder" for="product">Product</label>
              <select class="form-control rounded-pill bg-light" id="product">
                <option>Select Product</option>
                <option>Panadol</option>
                <option>Paracetmol</option>
                <option>Vitamin C</option>
                <option>Gold paint</option>
              </select>
            </div>
            <div class="form-group">
              <label class="font-weight-bolder" for="batch">Batch</label>
              <select class="form-control rounded-pill bg-light" id="batch">
                <option>Select Batch</option>
                <option>2011</option>
                <option>9088</option>
                <option>87711</option>
                <option>10011</option>
              </select>
            </div>
            <div class="form-group">
              <label class="font-weight-bolder" for="qty">Quantity</label>
              <input class="form-control rounded-pill bg-light" id="qty" aria-describedby="qtyHelp" type="number"
                placeholder="Quantity">
            </div>
            <div class="form-group">
              <label class="font-weight-bolder" for="measure">Product Measure</label>
              <input class="form-control rounded-pill bg-light" id="measure" aria-describedby="qtyHelp" type="text"
                placeholder="Product Measure">
            </div>
            <div class="form-group">
              <label class="font-weight-bolder" for="batch">Stock State</label>
              <select class="form-control rounded-pill bg-light" id="stockstate">
                <option>Select Stock State</option>
                <option>Usable</option>
                <option>Sellable</option>
                <option>Expired</option>
                <option>Quarantine</option>
              </select>
            </div>
            <div class="form-group text-center">
              <button class="btn btn-primary  px-5 font-weight-bolder rounded-pill" data-ng-click="vm.submit()"" type="submit">Save</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
</div>